<style>
  @media (min-width: 1200px) {
    .container {
      width: 60%;
      max-width: 1400px;
    }
  }

  .intro-header .page-heading hr.small,
  .intro-header .post-heading hr.small,
  .intro-header .site-heading hr.small {
    display: none;
  }

  .post-preview,
  .blog-post,
  .well {
    font-size: 1.08em;
  }

  .intro-header .page-heading h1,
  .intro-header .post-heading h1,
  .intro-header .site-heading h1 {
    font-size: 42px;
  }

  .intro-header .page-heading .subheading,
  .intro-header .post-heading .subheading,
  .intro-header .site-heading .subheading {
    font-size: 22px;
  }

  .blog-post h1 {
    font-size: 34px;
  }

  .blog-post h2 {
    font-size: 28px;
  }

  .blog-post h3 {
    font-size: 23px;
  }
</style>
