<style>
  @media (min-width: 1200px) {
    .container {
      width: 92%;
      max-width: 1400px;
    }

    .col-lg-8.col-lg-offset-2,
    .col-md-10.col-md-offset-1 {
      width: 92%;
      margin-left: 4%;
    }
  }

  .intro-header .page-heading hr.small,
  .intro-header .post-heading hr.small,
  .intro-header .site-heading hr.small {
    display: none;
  }

  body {
    font-size: 18px;
  }

  .post-preview,
  .blog-post,
  .well {
    font-size: 1.05em;
  }

  .intro-header .page-heading h1,
  .intro-header .post-heading h1,
  .intro-header .site-heading h1 {
    font-size: 38px;
  }

  .intro-header .page-heading .subheading,
  .intro-header .post-heading .subheading,
  .intro-header .site-heading .subheading {
    font-size: 20px;
  }

  .blog-post h1 {
    font-size: 32px;
  }

  .blog-post h2 {
    font-size: 26px;
  }

  .blog-post h3 {
    font-size: 22px;
  }
</style>
